@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:700";

body {
  color: #F2EFEB;
  font-weight: 400;
  font-family: 'Montserrat', serif;
  background-color: #20232A;
}

hr { border-color: transparent; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* color: #202329; */
  color: rgba(242,239,235, 0.9);
  font-weight: 400;
  font-family: 'Montserrat', serif;
}
h1 {
  font-size: 2rem;
  font-weight: 700 !important;
  font-family: 'Raleway', serif;
  line-height: 2.4rem;
}
