@import "vendor/normalize.css";
@import "vendor/milligram.css";
@import "typography.css";
@import "forms.css";
@import "banner.css";
@import "navbar.css";
@import "footer.css";
@import "barcodes.css";
@import "hero.css";
@import "article.css";

html { background-color: #20232A; }

.app {
  position: relative;
  z-index: 1;
}
.app-frame {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  background: none;
  border: none;
}
.app-blockquote {
  z-index: -1;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.contact-services {
  vertical-align: top;
}

.contact-form,
.contact-services {
  display: inline-block;
  width: 100%;
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
.contact-services .services {
  display: flex;

}
.contact-services a {
  width: 100%;
  flex: 0 0 25%;
  text-align: center;
}

@media (min-width: 40rem) {
  .app-frame {
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 4rem;
  }
}

@media (min-width: 50.0rem) {
  .contact-form {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }

  .contact-services {
    flex: 0 0 30% !important;
    max-width: 30% !important;
    margin-left: 0 !important;
    margin-left: 10% !important;
  }
}

@media (min-width: 80.0rem) {
  .contact-services {
    flex: 0 0 30% !important;
    max-width: 30% !important;
    margin-left: 10% !important;
  }
}



pre {
  margin: 0;
  font-size: medium;
  border: none;
}


/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */


.hljs,
pre>code {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 1.5em;
  border-radius: .4rem !important;
  margin-bottom: 3rem;
  overflow-x: auto;
}


/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #999999;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #f2777a;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #ffcc66;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #99cc99;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #6699cc;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #cc99cc;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
