.article {
  padding: 0;
  max-width: 100rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: inherit auto;
}

.article-white {
  color: #20232A;
  background: #f1f1f1;
  padding-top: 4rem;
  padding-bottom: 0;
}

.article-50 {
  width: 100%;
  display: inline-block;
  padding: 0;
  position: relative;
  vertical-align: top;
}

.article-white h1,
.article-white h2,
.article-white h3,
.article-white h4,
.article-white h5,
.article-white h6 {
  color: #20232A !important;
}


@media (min-width: 40.0rem) {
  .article {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .article-white {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 60.0rem) {
  .article-50 {
    width: 50%;

  }
  .article-50:nth-child(even) { padding-left: 2rem !important }
  .article-50:nth-child(odd) { padding-right: 2rem !important }
}

@media (min-width: 80.0rem) {
  .article {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .article-white {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
}
