.title-section {
  display: block;
  color: rgba(242,239,235, 0.7);
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', serif;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  letter-spacing: .2rem;
}

.title-section:before {
  margin-bottom: 1rem;
}
.title-section:after {
  margin-top: 1rem;
}

.title-section:after,
.title-section:before {
  content: '';
  width: 100%;
  height: 1rem;
  display: block;
  background: repeating-linear-gradient(
      -45deg,
      rgba(242,239,235,0.05),
      rgba(242,239,235,0.05) 2px,
      rgba(242,239,235,0.15) 2px,
      rgba(242,239,235,0.15) 4px
    );
}
