.barcodes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.barcode {
  display: inline-block;
  height: 100%;
  opacity: 0.025;
  animation-duration: 7s;
  animation-name: blush;
  animation-iteration-count: infinite;
}

.barcode:nth-child(3n) {
  animation-duration: 4.3s;
  animation-name: sway;
  animation-iteration-count: infinite;
}

.barcode:nth-child(5n) {
  animation-delay: 2.1s;
  animation-duration: 4.7s;
  animation-name: sway;
  animation-iteration-count: infinite;
}

.barcode:nth-child(7n) {
  animation-delay: 1.2s;
  animation-duration: 4.3s;
  animation-name: sway;
  animation-iteration-count: infinite;
}

.barcode-animate {
  transition: opacity 2s;
  animation-duration: 4s;
  animation-name: slide;
  animation-iteration-count: 1;
}

.barcode:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}

.barcode-animate-inverted {
  transition: opacity 1.5s ease-in-out;
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: slideaway;
  animation-iteration-count: 1;
}

.barcode-animate + .barcode {
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: slideaway;
  animation-iteration-count: 1;
}

.barcode-animate + .barcode + .barcode {
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: slideshort;
  animation-iteration-count: 2;
}

.barcodes-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
  background-size: cover !important;
}

.barcodes-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(32,35, 42, 0), rgba(32,35, 42, 1) 90%);
  z-index: 1;
}

.barcodes-image svg {
  background:url(http://4.bp.blogspot.com/-IzPWLqY4gJ0/T01CPzNb1KI/AAAAAAAACgA/_8uyj68QhFE/s400/a2cf7051-5952-4b39-aca3-4481976cb242.jpg);
}

@keyframes blush {
  from {
    opacity: .025;
  }

  50% {
    opacity: .01;
  }

  100% {
    opacity: .025;
  }
}


@keyframes sway {
  from {
  }

  30% {
    transform: translateX(15px);
  }

  60% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0px);
  }
}



@keyframes slide {
  from {
    opacity: .025;
  }

  30% {
    opacity: .055;
    transform: translateX(20px);
  }

  60% {
    opacity: .04;
    transform: translateX(-40px);
  }

  100% {
    opacity: .025;
    transform: translateX(0px);
  }
}


@keyframes slideaway {
  from {
    opacity: .025;
  }

  40% {
    opacity: .045;
    transform: translateX(150px);
  }

  70% {
    opacity: .055;
    transform: translateX(-80px);
  }

  100% {
    opacity: .025;
    transform: translateX(0px);
  }
}


@keyframes slideshort {
  from {
    opacity: .025;
  }

  40% {
    opacity: .045;
    transform: translateX(10px);
  }

  70% {
    opacity: .055;
    transform: translateX(-50px);
  }

  100% {
    opacity: .025;
    transform: translateX(0px);
  }
}
