.navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
}

.navbar-menu {
  float: right;
  position: relative;
}

.navbar-menu,
.navbar-brand {
  display: inline-block;
  padding: 2rem 0;
}

.navbar-logo {
  color: rgba(241, 241, 241, .8);
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  border-bottom: none;
  transition: .3s ease-in-out;
  transition-property: text color;
}

.navbar-logo:hover {
  color: rgba(241, 241, 241, 1);
  text-shadow: 0 0 25px rgba(241, 241, 241, .4);
}

.navbar-item {
  color: rgba(241, 241, 241, .8);
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  transition: .5s ease-in-out;
  padding: 1rem 2rem;
}

.navbar-item:hover,
.navbar-item:focus {
  color: rgba(241, 241, 241, 1);
  text-shadow: 0 0 25px rgba(241, 241, 241, .4);
}

.navbar-item.active {
  color: rgba(241, 241, 241, .4);
  font-weight: 700;
}


.navbar-hamburger {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  background: none;
  padding: 0;
  margin: 0;
  height: inherit;
  line-height: 1.6rem;
  border: none;
}


.navbar-dropdown {
  display: none;
  position: absolute;
  top: 6rem;
  right: 0;
  background: #20232A;
  padding: 2rem;
  z-index: 1;
}
.navbar-dropdown-open { display: block; }
.navbar-dropdown .navbar-item { display: block; }

.navbar-dropdown-open:before {
  content: '';
  display: block;
  position: absolute;
  top: -1.6rem;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1.6rem 1.6rem;
  border-color: transparent transparent #20232A transparent;
}

@media (min-width: 40.0rem) {
  .navbar-hamburger {
    display: none;
  }
  .navbar-item {
    padding: 0;
    margin-left: 2rem;
  }

  .navbar-dropdown {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
    background: transparent;
  }

  .navbar-dropdown-open:before { display: none }

  .navbar-dropdown .navbar-item {
    display: inline-block;
  }
}
