body {
  color: #F2EFEB;
  font-weight: 400;
  font-family: 'Montserrat', serif;
}

hr { border-color: transparent; }


blockquote {
  opacity: .6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* color: #202329; */
  color: rgba(242,239,235, 0.9);
  font-weight: 400;
  font-family: 'Montserrat', serif;
}
h1 {
  font-size: 3.6rem;
  font-weight: 700 !important;
  font-family: 'Raleway', serif;
  line-height: 4rem;
}



a {
  color: #aaa;
  transition: color .4s ease-in-out;
}

a:hover,
a:focus {
  color: #ccc;
}

small a { text-decoration: underline; }


/*
  Animated highlight effect when span is added to .title
*/
.title span {
  color: white;
  display: inline;
  text-decoration: none;
  background: none;
}

.title:hover span { background-position: -100% 0; }

.lead,
.subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.4rem;
}

@media (min-width: 40.0rem) {
  .title span {
    background: linear-gradient(to left, rgba(22, 160, 133,1.0) 50%, rgba(255,255,255,0) 50%);
    background-size: 200%;
    background-position: 0% 0;
    transition: background .7s ease-in-out;
  }
  h1 {
    font-size: 4.3rem;
    line-height: 5.3rem;
  }

  .lead,
  .subtitle {
    font-size: 2rem;
    letter-spacing: 0px;
    line-height: 2.8rem;
  }
}

@media (min-width: 80.0rem) {
  h1 {
    font-size: 5rem;
    line-height: 5.6rem;
  }
}
